@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

:root {
    --cor-primaria: #FFEBB2;
    --cor-secundaria: #8644A2;
    --cor-terciaria: #ffffff;
    --cor-quartenaria: #000000;
    --fonte-primaria:  "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    box-sizing: border-box;
}

.logo__g {
    margin: 40px 70px;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 15% ;
    gap: 80px;
}

.apresentacao__entrada {
    display: flex;	/* coloca os quadrados lado a lado */    
    flex-direction: column; /* coloca os quadrados na vertical */
    gap: 16px;
}

.entrada {
    font-size: 2rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 10px;
    line-height: 48px;
    border-radius: 5px;
    border: none;
    text-transform: lowercase; /* Garante que a letras sempre estejam em minúsculo */
}

::placeholder {color: var(--cor-secundaria);} 
    .entrada:focus {
      outline: none; /*remove o contorno padrão quando o campo está em foco. */
    }


.apresentacao__alerta {
    display: flex;
    gap: 8px;
}

.texto__alerta {
    font-size: 0.75rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
    color: var(--cor-quartenaria);
}

.apresentacao__botao {
    justify-content: space-between;
    display: flex;
    gap: 24px; /* Espaçamento entre os items */
    margin-top: 18px;
}

.botao__criptografar {
    color:var(--cor-terciaria);
    background-color: var(--cor-secundaria);
    width: 328px; /* largura da borda*/
    height: 67px;
    top: 885px;
    text-align: center;
    border-radius: 24px;
    font-size: 1rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
    padding: 24px;
    border: 1px solid var(--cor-secundaria); /* O primeiro valor é referente a expessura da borda, o segundo é o tipo da borda*/
    cursor: pointer; /*Garante uma estilização diferente do cursor ao passar pelo botão */
}

.botao__criptografar:hover {
    background-color:#E59BE9;
}

.botao__descriptografar {
    color:var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    width: 328px; /* largura da borda*/
    height: 67px;
    top: 885px;
    text-align: center;
    border-radius: 24px;
    font-size: 1rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
    padding: 24px;
    border: 1px solid var(--cor-secundaria);
    cursor: pointer;
}

.botao__descriptografar:hover {
    background-color: #D8DFE8;
}

.secao__apresentacao__saida {
    display: flex;
    align-items: center;
}

.apresentacao__saida {
    display: flex;
    text-align: center;
    flex-direction: column;
    position: relative;
    gap: 16px;
    background-color: var(--cor-terciaria);
    border-radius: 32px;
    width: 365px;
    height: 600px;
}

.imagem__menina {
    width: 336px;
    height: 304px;
}

.apresentacao__saida__titulo, .apresentacao__saida__paragrafo, .imagem__menina{
    position: relative;
    top: 10%;
    left: 5%;
}

.apresentacao__saida__titulo {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-style: normal;
    color: var(--cor-quartenaria);
    width: 336px;
    height: 58px;
}

.apresentacao__saida__paragrafo {
    font-size: 1rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
    color: var(--cor-quartenaria);
    width: 336px;
    height: 58px;
}

.resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.saida {
    background-color: var(--cor-terciaria);
    border-radius: 32px;
    color: var(--cor-quartenaria);
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    line-height: 48px;
    border: none;
    text-transform: lowercase;
}

.saida:focus {
    outline: none;
}

.botao__copiar {
    color:var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    width: 328px;
    height: 67px;
    top: 885px;
    text-align: center;
    border-radius: 24px;
    font-size: 1rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
    padding: 24px;
    border: 1px solid var(--cor-secundaria);
    cursor: pointer;
    position: absolute;
    top: 87%;
}

.botao__copiar:hover {
    background-color: #D8DFE8;
}

.rodape {
    color: var(--cor-terciaria);
    background-color: var(--cor-secundaria);
    padding: 24px;  /* Da borda para dentro */
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 1260px) {
    .apresentacao {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .apresentacao__entrada {
        justify-content: center;
    }

    .apresentacao__botao {
        flex-direction: column;
    }

    .logo__g {
        margin: 20px 20px;
        width: 10%;
    }
}
